body{
  backgroud:  purple;
}
form label{
  display: block;
  fontsize: 20px
    color: black;
}
form input{
  backgroud: white;
  display: block;
}
h1{
  text-decoration: underline;
  color: pink;
}

